@model Fakture.ViewModels.StavkeFakture.StavkeIndexVM

<h2>Stavke</h2>
<a href="@Url.Action("Create", "StavkeFakture", new { fakturaId = Model.FakturaId})">Dodaj</a>
<div class="row">
    <table class="table table-bordered" id="advanced-report-table">
        <thead>
            <tr>
                <th>
                    Opis
                </th>
                <th>
                    Kolicina
                </th>
                <th>
                    Cijena bez poreza
                </th>
                <th>
                    Ukupna cijena
                </th>
                <th>
                    Izmjeni
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stavka in Model.Stavke)
            {
                <tr>
                    <td>
                        @stavka.Opis
                    </td>
                    <td>
                        @stavka.Kolicina
                    </td>
                    <td>
                        @stavka.CijenaBezPoreza
                    </td>
                    <td>
                        @stavka.UkupnaCijena
                    </td>
                    <td>
                        <a class="btn btn-success" href="@Url.Action("Edit", "StavkeFakture", new { stavkaId = stavka.Id })">Izmjeni</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
