@model Fakture.ViewModels.User.UserVM
@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row mb-2">
        <h2 class="col-11">@Model.Username</h2>
        <a href="@Url.Action("Create", "Fakture")" class="col-1 btn btn-success">Dodaj</a>
    </div>
    <div class="row">
        <table class="table table-bordered" id="advanced-report-table">
            <thead>
                <tr>
                    <th>
                        Broj fakture
                    </th>
                    <th>
                        Datum stvaranja
                    </th>
                    <th>
                        Datum dospijeca
                    </th>
                    <th>
                        Broj stavki
                    </th>
                    <th>
                        Ukupna cijena bez poreza
                    </th>
                    <th>
                        Ukupna cijena sa porezom
                    </th>
                    <th>
                        Primatelj
                    </th>
                    <th>
                        Detalji
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var fakutra in Model.Fakture)
                {
                    <tr>
                        <td>
                            @fakutra.Kod
                        </td>
                        <td>
                            @fakutra.DatumKreiranja
                        </td>
                        <td>
                            @fakutra.DatumDospijeca
                        </td>
                        <td>
                            @{
                                var count = 0;
                                if (fakutra.Stavke != null)
                                {
                                    count = @fakutra.Stavke.Count;
                                }
                            }
                            @count
                        </td>
                        <td>
                            @fakutra.CijenaBezPoreza
                        </td>
                        <td>
                            @fakutra.CijenaSaPorezom
                        </td>
                        <td>@fakutra.Primatelj</td>
                        <td class="row">
                            <a href="@Url.Action("Details", "Fakture", new { id = fakutra.Id })" class="btn btn-warning col-5">Detalji</a>
                            <a href="@Url.Action("Edit", "Fakture", new { id = fakutra.Id })" class="btn btn-primary col-5">Izmjeni</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>