@using Fakture.ViewModels.User
@model Fakture.ViewModels.User.UserVM
@{
    ViewBag.Title = "Home Page";
}

<main>
    <h2>@Model.Username</h2><a href="@Url.Action("Create", "Fakture")">Dodaj</a>
    <div class="row">
        <table class="table table-bordered" id="advanced-report-table">
            <thead>
                <tr>
                    <th>
                        Broj fakture
                    </th>
                    <th>
                        Datum stvaranja
                    </th>
                    <th>
                        Datum dospijeca
                    </th>
                    <th>
                        Broj stavki
                    </th>
                    <th>
                        Ukupna cijena bez poreza
                    </th>
                    <th>
                        Ukupna cijena sa porezom
                    </th>
                    <th>
                        Stvaratelj
                    </th>
                    <th>
                        Primatelj
                    </th>
                    <th>
                        Detalji
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var fakutra in Model.Fakture)
                {
                    <tr>
                        <td>
                            @fakutra.Id
                        </td>
                        <td>
                            @fakutra.DatumKreiranja
                        </td>
                        <td>
                            @fakutra.DatumDospijeca
                        </td>
                        <td>
                            @{
                                var count = 0;
                                if(fakutra.Stavke != null)
                                {
                                    count = @fakutra.Stavke.Count;
                                }
                            }
                            @count
                        </td>
                        <td>
                            @fakutra.CijenaBezPoreza
                        </td>
                        <td>
                            @fakutra.CijenaSaPorezom
                        </td>
                        <td>@fakutra.Stvaratelj.UserName</td>
                        <td>@fakutra.Primatelj</td>
                        <td>
                            <a href="@Url.Action("Details", "Fakture", new { id = fakutra.Id })" class="btn btn-warning">Detalji</a>
                            <a href="@Url.Action("Edit", "Fakture", new { id = fakutra.Id })" class="btn btn-success">Izmjeni</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>