@using Fakture.ViewModels.Fakture
@model  Fakture.ViewModels.Fakture.FakturaVM

@{
    ViewBag.Title = "Details";
}

<h2 class="mb-4">Detalji</h2>

<h5>Primatelj: @Model.Primatelj</h5>
<div class="row mb-2">
    <h5 class="col-5">Datum kreiranja: @Model.DatumKreiranja</h5>
    <h5 class="col-5">Datum dospijeca: @Model.DatumDospijeca</h5>
</div>

<h2>Stavke fakture</h2>
<div class="row">
    <table class="table table-bordered" id="advanced-report-table">
        <thead>
            <tr>
                <th>
                    Opis
                </th>
                <th>
                    Kolicina
                </th>
                <th>
                    Cijena bez poreza
                </th>
                <th>
                    Ukupna cijena
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stavka in Model.Stavke)
            {
                <tr>
                    <td>
                        @stavka.Opis
                    </td>
                    <td>
                        @stavka.Kolicina
                    </td>
                    <td>
                        @stavka.CijenaBezPoreza
                    </td>
                    <td>
                        @stavka.UkupnaCijena
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


